<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> Sorry this review cannot be saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="field form-group">
    <% form.label :book_title, style: "display: block" %>
    <%= form.text_field :book_title, class:"form-control", placeholder:"Book Title:" %>
  </div>

  <div class="field form-group">
    <% form.label :barcode, style: "display: block" %>
    <%= form.text_field :barcode, class:"form-control", placeholder:"Barcode/ISBN:"  %>
  </div>

  <div class="field form-group">
    <% form.label :rating, style: "display: block" %>
    <%= form.number_field :rating, class:"form-control", placeholder:"Rating Out of 10?:"  %>
  </div>

  <div class="field form-group">
    <% form.label :theme, style: "display: block" %>
    <%= form.text_field :theme, class:"form-control", placeholder:"Theme:"  %>
  </div>

  <div class="field form-group">
    <% form.label :review, style: "display: block" %>
    <%= form.text_field :review, class:"form-control", placeholder:"Review"  %>
  </div>

  <div class="actions">
    <%= form.submit "Create", class:'btn btn-secondary' %>
  </div>
<% end %>
