
<div class="posts_div" id="<%= dom_id post %>">
  <p style="text-align: center;">
    <strong>Book Title:</strong>
    <%= post.book_title %>
  </p>

  <p style="text-align: center;">
    <strong>Barcode:</strong>
    <%= post.barcode %>
  </p>

  <p style="text-align: center;">
    <strong>Theme:</strong>
    <%= post.theme %>
  </p>

  <p style="text-align: center;">
    <strong>Rating:</strong>
    <%= post.rating %>
  </p>

  <p style="text-align: center;">
    <strong>Review:</strong>
    <%= post.review %>
  </p>

</div>
