
<div class="posts_div" id="<%= dom_id post %>">
  <p style="text-align: center;">
    <strong>Book Title:</strong>
    <%= @posts.book_title %>
  </p>

  <p style="text-align: center;">
    <strong>Barcode:</strong>
    <%= @posts.barcode %>
  </p>

  <p style="text-align: center;">
    <strong>Theme:</strong>
    <%= @posts.theme %>
  </p>

  <p style="text-align: center;">
    <strong>Rating:</strong>
    <%= @posts.rating %>
  </p>

  <p style="text-align: center;">
    <strong>Review:</strong>
    <%= @posts.review %>
  </p>

</div>
